<ion-view title="Detail" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="detail-card21">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="detail-list-item-container5">
        <div id="detail-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <div id="detail-button-bar1" class="button-bar">
        <button id="detail-button4" class="button button-positive button-block">Register</button>
        <a ui-sref="tabsController.map()" id="detail-button5" class="button button-positive button-block">Address</a>
      </div>
    </div>
  </ion-content>
</ion-view>