<ion-view title="Login" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="login-list11">
      <ion-item class="item-avatar" id="login-list-item36">
        <h2>Hi~MT</h2>
      </ion-item>
    </ion-list>
    <ion-list id="login-list12">
      <ion-item id="login-list-item40" ui-sref="tabsController.realLogin()">Login/Logout</ion-item>
      <ion-item id="login-list-item41" ui-sref="tabsController.eventList()">Registered Events</ion-item>
    </ion-list>
  </ion-content>
</ion-view>