<ion-view title="Real Login" id="page13">
  <ion-content padding="true" class="has-header">
    <form id="realLogin-form2" class="list">
      <ion-list id="realLogin-list13">
        <label class="item item-input" id="realLogin-input3">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="realLogin-input4">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="realLogin-button10" class="button button-stable button-block">Log in</button>
    </form>
  </ion-content>
</ion-view>